
/* Заголовок с логотипом */
.header-f {
  text-align: center;
  padding: 20px;
  border: #284286 2px solid;
  border-radius: 8px;
  margin-bottom: 20px;
}

.quizy-logo {

  margin-bottom: 10px;
}

.invite-section {
  display: flex;
  flex-direction: column;
  gap: 0; /* Объединяем блоки без зазора */
  margin-bottom: 20px;
  border: 2px dashed #284286;
  border-radius: 8px;
  padding: 15px;
}

.invite-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.invite-left {
  display: flex;
  align-items: center;
}

.invite-icon {
  background-color: #284286;
  color: white;
  font-size: 18px;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 10px;
}

.icon-image {
  width: 20px; /* Размер иконки внутри круга */
  height: 20px;
  object-fit: cover;
}

.invite-text {
  font-size: 16px;
  font-weight: bold;
}

.invite-right {
  display: flex;
  align-items: center;
  gap: 8px;
}


.friends {
    padding: 20px;
    text-align: center;
    height: 100vh; /* Высота экрана */
    overflow-y: auto; /* Скролл для всей страницы */
}

.header p {
  color: #FFFFFF;
  font-size: 16px;
  margin: 0;
}

.friends-title {
  font-size: 24px;
  margin-bottom: 5px;
}

.friends-description {
  margin-bottom: 20px;
  color: #ADC3FF;
}

.friends-list-title {
  text-align: left; /* Выровнять текст по левому краю */
  margin-bottom: 15px;
}

/* Секция списка друзей */
.friends-list-section {
  text-align: left;
  flex-grow: 1; /* Раздел будет занимать все оставшееся место */
}

.friends-list-section h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

.friends-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.friend-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: #284286 2px solid;
}

.friend-info {
  display: flex;
  align-items: center;
}

.friend-icon {
  width: 35px;
  height: 35px;
  background-color: #2F4FA4;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  margin-right: 10px;
}

.friend-name {
  font-size: 16px;
}

.friend-reward {
  color: #ADC3FF;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.reward-text {
    font-size: 16px;
    color: white;
    margin-right: 5px;
  }
  
  .reward-logo {
    width: 14px; /* Размер логотипа */
    height: 22px;
  }

  .ticket-logo {
    width: 22px;
    height: 22px;
  }

  .invite-button-container {
    width: 100%;
    position: fixed;
    bottom: 70px; /* Прибиваем кнопку над нижней панелью */
    left: 0;
    padding: 20px;
  }
  
  .invite-button {
    width: 100%;
    padding: 15px;
    background-color: #284286;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }

  /* Скелетоны для друзей */
.skeleton-friend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: #284286 2px solid;
}

.skeleton-friend-icon {
  width: 35px;
  height: 35px;
  background-color: #182C5F; /* Цвет скелетона */
  border-radius: 50%;
}

.skeleton-friend-name {
  width: 100px;
  height: 16px;
  background-color: #182C5F; /* Цвет скелетона */
  border-radius: 4px;
  margin-left: 10px; /* Отступ для выравнивания текста */
}

.skeleton-friend-reward {
  width: 50px;
  height: 16px;
  background-color: #182C5F; /* Цвет скелетона */
  border-radius: 4px;
  margin-left: 10px; /* Отступ для выравнивания текста */
}

@keyframes skeleton-loading {
  0% {
    background-color: #182C5F;
  }
  50% {
    background-color: #284286;
  }
  100% {
    background-color: #182C5F;
  }
}

.divider {
  border: none;
  border-top: 2px dashed #284286; /* Пунктирная линия */
  margin: 15px 0;
}