.game-timer {
    padding: 20px;
    color: #ffffff;
  }
  
  .game-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 50px;
  }
  
  .timer-container {
    padding: 20px;
    border-radius: 8px;
    border: 2px solid #284286;
    margin-bottom: 30px;
  }
  
  .timer-subtitle {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  #countdown-timer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Уменьшение отступов между элементами времени */
  }
  
  .time-unit {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .time-digits {
    display: flex;
    gap: 5px; /* Отступ между цифрами */
  }
  
  .time-digit {
    width: 40px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #152A60;
    border-radius: 5px;
    font-size: 28px;
    color: #ffffff;
  }
  
  .time-colon {
    font-size: 28px;
    line-height: 60px;
    display: flex;
    align-items: center;
    color: #ffffff; /* Цвет для соответствия */
    margin: 0; /* Убираем лишние отступы */
    margin-bottom: 20px;
  }
  
  .time-label {
    font-size: 14px;
    color: #adc3ff;
    margin-top: 5px;
  }
  
  .select-block {
    margin-bottom: 20px;
  }
  
  .select-title {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .select-item {
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 8px;
    border: 2px solid #284286;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .select-item.selected {
    border-color: #31A6F5;
  }
  
  .select-item input {
    margin-right: 10px;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #3f6fb5;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .select-item input::before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: transparent; /* По умолчанию прозрачный */
    position: absolute;
  }
  
  .select-item input:checked::before {
    background-color: #31A6F5; /* Цвет внутреннего круга при выборе */
  }
  
  .select-text {
    font-size: 16px;
    color: #ffffff;
    display: flex;
    align-items: center;
  }
  
  .time-icon {
    width: 16px;
    height: 16px;
    margin-left: 5px;
  }
  
  .buttons {
    display: flex;
    gap: 10px;
  }
  
  .make-bet-button {
    flex: 4;
    padding: 15px 0;
    background-color: #2f4fa4;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .bet-multiplier-button {
    flex: 1;
    padding: 15px 0;
    background-color: #E36D00;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
  }
  