.game-timer {
    padding: 20px;
    color: #ffffff;
  }
  
  .game-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 50px;
  }
  
  .timer-container {
    padding: 20px;
    border-radius: 8px;
    border: 2px solid #284286;
    margin-bottom: 40px;
  }
  
  .timer-subtitle {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  #countdown-timer {
    display: flex;
    justify-content: center;
    gap: 15px; /* Отступ между элементами времени */
  }
  
  .time-unit {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .time-digits {
    display: flex;
    gap: 5px; /* Отступ между цифрами */
  }
  
  .time-digit {
    width: 40px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #192955;
    border-radius: 5px;
    font-size: 28px;
    color: #ffffff;
  }
  
  .time-label {
    font-size: 14px;
    color: #adc3ff;
    margin-top: 5px;
  }
  
  .select-block {
    margin-bottom: 20px;
  }
  
  .select-title {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .select-item {
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 8px;
    border: 2px solid #284286;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .select-item.selected {
    border-color: #31A6F5;
  }
  
  .select-item input {
    margin-right: 10px;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #3f6fb5;
    border-radius: 50%;
    background-color: #192955;
    cursor: pointer;
    position: relative;
  }
  
  .select-item input:checked::after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 7px;
    height: 7px;
    background-color: #31A6F5;
    border-radius: 50%;
  }
  
  .select-text {
    font-size: 16px;
    color: #ffffff;
    display: flex;
    align-items: center;
  }
  
  .time-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  
  .buttons {
    display: flex;
    gap: 10px;
  }
  
  .make-bet-button {
    flex: 4;
    padding: 15px 0;
    background-color: #2f4fa4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .bet-multiplier-button {
    flex: 1;
    padding: 15px 0;
    background-color: #f39c12;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  