/* Общие стили */
body {
  font-family: 'Arial', sans-serif;
  background-color: #1E1E2C;
  color: white;
  margin: 0;
  padding: 0;
}

.header {
  /* background-color: #284286; */
  background: rgb(134,165,246);
  background: linear-gradient(90deg, rgba(134,165,246,1) 0%, rgba(58,111,248,1) 100%);
  font-size: 18px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

/* Контейнеры */
.home {
  padding: 20px;
  text-align: center;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 20px;
}

.logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

/* Баланс */
.balance {
  border-radius: 8px;
  margin-bottom: 20px;
}

.balance h2 {
  font-size: 30px;
  margin: 0;
}

/* Секция задач */
.tasks-section {
  border-radius: 8px;
  text-align: left;
}

.tasks-section h3 {
  font-size: 20px;
  margin-bottom: 15px;
}

.task-list {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
  overflow-y: auto;
  max-height: calc(100vh - 420px);
}

.task-item {
   /* border: #284286 2px solid; /* Прерывистый бордер */ 
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(24,64,166);
  background: linear-gradient(90deg, rgba(24,64,166,1) 0%, rgba(48,82,176,1) 100%);
}

.task-info {
  display: flex;
  align-items: center; /* Центрирует изображение и текст по вертикали */
}

.task-image {
  width: 40px;
  height: 40px;
  margin-right: 10px; /* Отступ между изображением и текстом */
  border-radius: 8px;
}

.task-text {
  display: flex;
  flex-direction: column; /* Располагаем текст вертикально */
}

.task-title {
  font-size: 16px;
  color: #FFFFFF;
}

.task-reward {
  color: #ADC3FF;
}

.reward-text-tasks {
  margin-right: 5px;
}

.reward-logo-tasks {
  width: 12px;
  height: 16px;
  position: relative;
  top: 2px; /* Смещает изображение на 2 пикселя вниз */
}

.task-button {
  /* background-color: #284286; */
  background: rgb(45,93,219);
background: linear-gradient(45deg, rgba(45,93,219,1) 0%, rgba(86,120,208,1) 100%);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

/* Стили завершенных заданий */
.task-completed {
  /* border-color: #284286;
  border-style: dashed; /* Прерывистый бордер для завершенного задания */
  opacity: .5;
}

.task-completed .task-button {
  /* background-color: #182C5F; /* Цвет кнопки для завершенных заданий */
  width: 75px;
  height: 40px;
}

.completed-icon {
  width: 20px;
  height: 20px;
}

/* Контейнер для кнопки "See more tasks" */
.see-more-container {
  display: flex;
  justify-content: center;
}

.see-more-button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

/* Стили для всплывающего алерта */
.alert {
  position: fixed;
  top: 15px; /* Отступ сверху */
  left: 10px; /* Отступ слева */
  right: 10px; /* Отступ справа */
  background-color: #182c5f;
  color: white;
  padding: 15px 20px; /* Паддинг для контента внутри */
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  opacity: 0;
  animation: fadeInOut 4s ease forwards;
  z-index: 1000; /* Убедимся, что алерт сверху всех элементов */
}

.alert-icon {
  width: 24px;
  height: 24px;
}

/* Добавляем плавное появление и исчезновение */
@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.skeleton-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: #182C5F 2px solid;
}

/* Скелетон для изображения */
.skeleton-image {
  width: 40px;
  height: 40px;
  background-color: #182C5F;
  border-radius: 8px;
  animation: skeleton-loading 1.5s infinite ease-in-out;
  margin-right: 10px;
}

/* Скелетон для заголовка */
.skeleton-title {
  width: 100px;
  height: 16px;
  background-color: #182C5F;
  border-radius: 4px;
  animation: skeleton-loading 1.5s infinite ease-in-out;
  margin-bottom: 8px;
}

/* Объединенный скелетон для награды (текста и иконки) */
.skeleton-reward {
  width: 60px; /* Ширина для комбинации текста и иконки */
  height: 16px;
  background-color: #182C5F;
  border-radius: 4px;
  animation: skeleton-loading 1.5s infinite ease-in-out;
  display: flex;
  align-items: center;
  gap: 5px; /* Отступ между текстом и иконкой */
}

/* Скелетон для кнопки */
.skeleton-button {
  width: 75px;
  height: 35px;
  background-color: #182C5F;
  border-radius: 8px;
  animation: skeleton-loading 1.5s infinite ease-in-out;
}

/* Анимация переливания */
@keyframes skeleton-loading {
  0% {
    background-color: #182C5F;
  }
  50% {
    background-color: #284286;
  }
  100% {
    background-color: #182C5F;
  }
}