.modal-get-tickets-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end; /* Выравнивание по нижней части экрана */
    align-items: flex-end; /* Выравнивание по нижней части экрана */
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }
  
.modal-get-tickets-overlay.open {
    opacity: 1;
    pointer-events: auto;
}

.modal-get-tickets {
    background: #12203D;
    border-radius: 30px 30px 0 0; /* Закругляем только верхние углы */
    padding: 20px;
    width: 100%;
    max-width: 600px;
    text-align: center;
    position: relative;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
}
  
.modal-get-tickets.open {
    opacity: 1;
    transform: translateY(0);
}

  
  .modal-logo-container {
    margin-bottom: 16px;
  }
  
  .modal-ticket-logo {
    width: 80px;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .modal-h3 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .modal-subtitle {
    color: #ADC3FF;
    font-size: 14px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .modal-buttons {
    display: flex;
    flex-direction: column;
  }
  
  .invite-friends-button, .buy-tickets-button {
    background-color: #1D74F5;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 15px;
    flex: 1;
    padding: 15px;
  }
  
  .invite-friends-button {
    background-color: #1c4e99; /* Цвет для кнопки "Invite Friends" */
  }
  
  .invite-friends-button:hover {
    background-color: #1c4e99; /* Цвет при наведении */
  }
  
  .buy-tickets-button {
    background-color: #1748D2; /* Цвет для кнопки "Buy Tickets" */
  }
  
  .buy-tickets-button:hover {
    background-color: #1748D2; /* Цвет при наведении */
  }
  
  .star-image {
    width: 16px;
    vertical-align: middle;
    position: relative;
    top: -2px;
  }
  