.modal-energy-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.modal-energy-overlay.open {
    opacity: 1;
}

.modal-energy {
    background-color: #091533;
    padding: 30px;
    border-radius: 20px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1100;
    transform: translateY(100%);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.modal-energy.open {
    transform: translateY(0);
    opacity: 1;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.energy-icon {
    width: 30px;
    height: 30px;
}

.modal-energy h2 {
    font-size: 24px;
    color: white;
    margin: 0;
}

.modal-energy p {
    font-size: 16px;
    color: #ADC3FF;
    margin-bottom: 20px;
}

.free-energy-link {
    color: #007BB5;
    text-decoration: underline;
    cursor: pointer;
}

.energy-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.energy-option {
    background-color: #1D2C58;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 12px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.energy-option:hover {
    background-color: #284286;
}

.energy-icon-container {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #1E3A68;
    padding: 8px;
    border-radius: 8px;
}

.energy-icon-small {
    width: 20px;
    height: 20px;
}

.price {
    display: flex;
    align-items: center;
    gap: 5px;
}

.star-image {
    width: 20px;
    height: 20px;
}

.confirm-pay-button {
    width: 100%;
    padding: 15px;
    background-color: #007BB5;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.confirm-pay-button:hover {
    background-color: #005f8c;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}
