/* Основной контейнер */
.quizy-wheel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Ориентируем контент в начало экрана */
    height: 100vh;
    background-color: #0a1d3f;
    color: white;
    padding: 20px;
}

/* Заголовок прибиваем к верху */
.header-title {
    margin-top: 20px; /* Отступ сверху, чтобы заголовок не сливался с краем */
    font-size: 24px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

/* Контейнер для билетов */
.tickets-container {
    text-align: center;
    margin-top: 10px; /* Увеличиваем отступ от заголовка */
    margin-bottom: 20px; /* Добавляем отступ снизу, чтобы билеты не прижимались к колесу */
}

.tickets-count-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tickets-count {
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-right: 8px;
}

.ticket-image {
    width: 24px;
    height: 24px;
}

/* Контейнер для колеса и стрелки */
.wheel-container {
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    border-radius: 50%;
    margin-bottom: 30px; /* Отступ снизу перед кнопкой */
}

/* Стрелка */
.wheel-arrow {
    position: absolute;
    top: 50%;
    left: 58%;
    transform: translate(-50%, -50%);
    z-index: 1;
    height: 50px;
    width: 100px;
}

.wheel-container svg {
    transition: transform 5s cubic-bezier(0.33, 1, 0.68, 1);
}

/* Кнопка */
.spin-button {
    width: 100%;
    padding: 15px 20px;
    background-color: #1c4e99;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    position: fixed;
    bottom: 120px; /* Поднимаем кнопку вверх, чтобы был текст */
    left: 0;
    padding: 15px 20px;
}

.spin-button:disabled {
    background-color: grey;
    cursor: not-allowed;
}

/* Текст под кнопкой */
.info-text {
    position: fixed;
    bottom: 80px; /* Размещаем текст чуть выше кнопки */
    left: 0;
    width: 100%;
    color: #d0d0d0;
    font-size: 14px;
    text-align: center;
}

/* Стиль текста внутри секторов */
text {
    fill: white;
    font-size: 20px;
    font-family: Arial, sans-serif;
    font-weight: bold;
}
