.quiz-page {
    background-color: #091533;
    color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1000px;
  }
  
  .progress-bar {
    width: 100%;
    height: 8px;
    background-color: #0E2258;
  }
  
  .progress-fill {
    height: 8px;
    background-color: #34519C;
    transition: width 0.3s ease;
  }
  
  .quiz-header {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .quiz-header h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .quiz-header p {
    margin-bottom: 10px;
    color: #ADC3FF;
  }

  .timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #0B183B;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
  }
  
  .time-digit {
    width: 40px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #284286;
    border-radius: 8px;
    font-size: 24px;
    color: #ffffff;
    font-weight: 600;
  }
  
  .time-colon {
    font-size: 24px;
    line-height: 60px;
    display: flex;
    align-items: center;
    color: #ffffff;
  }
  
  .question-section {
    width: 100%;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .question-section h3 {
    margin-bottom: 15px; /* Добавляем отступ снизу у вопроса */
  }
  
  .option {
    display: flex;
    align-items: center;
    border: 2px solid #284286;
    padding: 15px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, border-color 0.3s;
    margin-bottom: 10px;
  }
  
  .radio-input {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ADC3FF; /* Цвет обводки внешнего круга */
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
  }
  
  .radio-input::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px; /* Размер внутреннего круга */
    height: 10px;
    background-color: transparent; /* Прозрачный по умолчанию */
    border-radius: 50%;
    transform: translate(-50%, -50%); /* Центрирование по горизонтали и вертикали */
  }
  
  .radio-input:checked {
    border-color: #8DADFE; /* Цвет внешней обводки при выборе */
    background-color: transparent; /* Убираем фон при выборе */
  }
  
  .radio-input:checked::after {
    background-color: #8DADFE; /* Цвет внутреннего круга при выборе */
  }
  
  .option.selected {
    background-color: #102458;
    border-color: #8DADFE;
  }
  
  .option-text {
    flex: 1;
    text-align: left;
  }
  
  .next-question-button {
    margin-top: 20px;
    width: 100%;
    padding: 15px;
    background-color: #284286;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .next-question-button:disabled {
    background-color: #182C5F;
    cursor: not-allowed;
  }

  .reward-display-quiz {
    display: flex;
    align-items: center;
    gap: 7px; /* Отступ между иконкой и текстом */
    font-size: 20px;
    color: white;
    margin-bottom: 20px; /* Отступ снизу, чтобы разделить награду и заголовок */
    font-weight: 600;
  }
  
  .token-icon-quiz {
    width: 30px; /* Размер иконки токена */
    height: 30px;
  }