.quizes-section {
    padding: 20px;
  }
  
  /* Заголовок и описание */
  .quizes-section h3 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .quizes-section p {
    text-align: center;
    font-size: 16px;
    color: #ADC3FF;
  }
  
  /* Контейнер прогресса */
  .progress-container {
    background-color: #172D68;
    padding: 15px;
    border-radius: 8px;
    margin: 20px 0;
  }
  
  .progress-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .progress-header span {
    font-size: 16px;
    color: white;
    font-weight: 600;
  }
  
  .energy-container {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    color: white;
    font-weight: 600;
  }
  
  .energy-button {
    background-color: #213C84;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 6px;
    font-weight: 600;
    font-size: 18px;
  }
  
  .progress-bar {
    margin-top: 3px;
    width: 100%;
    height: 10px;
    background-color: #2F4F90;
    border-radius: 4px;
  }
  
  .progress-fill {
    height: 100%;
    background-color: #34519C;
    border-radius: 4px;
  }
  
  .progress-status {
    font-size: 16px;
    color: white;
    margin-top: 5px;
  }
  
/* Список квизов */
.quiz-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .quiz-item {
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .quiz-avatar {
    width: 40px;
    height: 40px;
    background-color: #2F4F90;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
  }
  
  .quiz-avatar img {
    width: 24px;
    height: 24px;
  }
  
  .quiz-info {
    flex-grow: 1;
  }
  
  .quiz-title {
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 5px;
  }
  
  .quiz-details {
    display: flex;
    gap: 15px;
    font-size: 14px;
    color: #ADC3FF;
  }
  
  .time-icon {
    width: 16px;
    height: 16px;
    margin-left: 5px;
  }
  
  .quiz-button {
    background-color: #284286;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
  }
  